{% extends "base.html" %}

{% block pageheading %}
Maori-English Dictionary
{% endblock %}

{% block main %}
<div class="container">
    <table class="sortable" id="sortableTable">
        <thead>
            <tr>
                <th>ID</th>
                <th>Maori Word</th>
                <th>English Word</th>
                <th>Category</th>
                <th>Definition</th>
                <th>Level</th>
            </tr>
        </thead>
        <tbody>
            {% for word in dictionary_data %}
                <tr>
                    <td>{{ word.ID }}</td>
                    <td>{{ word.M_word }}</td>
                    <td>{{ word.E_word }}</td>
                    <td>{{ word.Category }}</td>
                    <td>{{ word.Definition }}</td>
                    <td>{{ word.Level }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<!-- Include DataTables JavaScript -->
<script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>

<!-- Initialize DataTables -->
<script>
$(document).ready(function() {
    $('#sortableTable').DataTable();
});
</script>
{% endblock %}
